@media only screen and (max-width: 1239px){
	
}
@media only screen and (max-width: 1199px){
    #testimonial2 .ftc-sb-testimonial .active .testimonial-content .info {
        width: 800px;
        padding: 79px 67px 62px 404px;
        transform: translateX(calc(-25% - 5px));
    }
    #testimonial2 .ftc-sb-testimonial {
        margin: 0 auto 120px 80px;
    }
    #testimonial2 .ftc-sb-testimonial.owl-carousel .owl-dots {
        top: 100%;
        transform: translateX(4%);
    }
}
@media only screen and (max-width: 1190px){
	.header-sticky-hide {
    position: static;
    -webkit-animation: none;
    -moz-animation: none;
    animation: none;
}
    .ftc-breadcrumb .container{
        padding: 0;
        margin: 0;
        width: 100%;
    }
    div.product .summary .yith-wcwl-add-to-wishlist .yith-wcwl-wishlistexistsbrowse .feedback{
        display: none;
    }
    #testimonial2 .ftc-sb-testimonial.owl-carousel .owl-stage-outer {
        height: 500px !important;
    }
    #testimonial2 .ftc-sb-testimonial .active .testimonial-content .info {
        width: 750px;
        transform: translateX(calc(-50% + 164px));
        padding: 79px 67px 60px 404px;
    }
    #testimonial2 .ftc-sb-testimonial {
        margin: 0 auto 0 111px;
    }
    #testimonial2 .ftc-sb-testimonial.owl-carousel .owl-dots {
        top: 70%;
        transform: translateX(3%);
    }
    #testimonial2 .ftc-sb-testimonial .active.center .testimonial-content .avatar {
        margin-top: 170px;
    }
    #testimonial2 .testimonial-content .avatar {
        margin: 195px auto 0 auto;
    }
}
@media screen and (max-width: 1024px){
    .owl-carousel .owl-item img{
        max-height: 300px;
    }
    .blogs .post-info{
        text-align: left;
    }
    .caftc-link span:first-child{
        display: inline-block;
    }
    .feature-img2.vc_col-sm-6{
        margin-top: -60px;
    }
	.blog-image.gallery  .owl-carousel .owl-item img
	{
		max-height: 100%;
	}

    div.product .social-sharing li{
        margin-bottom: 3px;
    }
    .service_row1 .text_service, .service_row2 .text_service, .service_row3 .text_service {
        padding: 20px 0px 25px 55px;
    }

    .text_row1, .text_row2, .text_row3 {
        margin-top: 20px;
    }
    

}
@media screen and (max-width: 1023px){
    .popupshadow,
    .newsletterpopup {
        display: none !important; 
    }
}
@media only screen and (max-width: 991px){
    #mega_main_menu.responsive-enable.mobile_minimized-enable > .menu_holder > .menu_inner > .nav_logo .mobile_toggle{
        float: none;
        text-align: -webkit-center;
    }
    a.ftc_cart .cart-number p.wtext{
    display: none;
    }
    a.ftc_cart .cart-number p.count-number{
    display: inline-block;
    color: #fff;
    width: 20px;
    line-height: 20px;
    height: 20px;
    background-color: #000;
    border-radius: 50%;
    font-size: 13px;
    }
    .nav-left, .nav-right
    {
        width: 100%;
        text-align: center;
        float: none;
    }
    .footer-bottom{
        margin-bottom: 60px;
    }
    .header-ftc .main-navigation > div > ul{
        display: none;
    }
    #to-top{
        bottom: 80px;
    }
    .newsletterpopup {
        margin: -285px 0 0 -384px;
        width: 768px;
        height: 470px; 
    }
    .newsletterpopup .wp-newletter {
        padding-left: 15px;
        padding-top: 15px; 
    }
    .newsletterpopup .wp-newletter .desc-newsletter {
        margin-bottom: 25px; 
    }
    .newsletterpopup .wp-newletter .content-newsletter input[type="submit"] {
        margin-bottom: 15px; 
    } 
}

@media only screen and (min-width: 991px) and (max-width: 1199px){
	body.wpb-js-composer .vc_general.vc_tta-tabs.default_no_border .vc_tta-tab > a {
    padding: 20px 15px;
}

	.woocommerce-page.columns-4 .products .product, .woocommerce.columns-4 .products .product {
    width: 23%;
}
	.blog-home .home3 .blogs .post-img {
    padding-top: 30px;
}
	
	.header-layout4 .header-content .navigation-primary .container {
    width: 650px;
    padding-left: 0;
}
		.single-img-home4 .vc_col-sm-3 .ftc-smooth-image img {
    height: 325px;
}
	.woocommerce-page.columns-3 .products .product, .woocommerce.columns-3 .products .product {
    width: 30%;
}
    .vc_row-fluid.service_row3{
        margin-bottom: 30px !important;
    }
	.header-content .navigation-primary .container,
body:not(.wpb-js-composer) .header-content .navigation-primary .container	{
    width: 460px;
}
.newsletter-footer input[type="email"]
{
	width: 310px;
}
.newsletter-footer .vc_col-sm-6:last-child .wpb_text_column.wpb_content_element {
    margin-top: 35px !important;
}
footer#colophon .social-icons li {
    margin: 0 5px;
}
.footer-bottom .wpb_column.vc_column_container.vc_col-sm-4:first-child {
    padding-right: 0 !important;
}
}
@media only screen and (min-width: 768px) and (max-width: 1170px){
	.faq .vc_toggle_title h4
	{
		font-size: 15px;
	}

	.widget_tag_cloud .tagcloud {
    padding: 19px 15px 10px 15px;
}
	.wpb-js-composer .lastest-product .home3 .vc_tta-container .vc_tta.vc_general .vc_tta-tabs-list {
    margin-left: 0;
}
	.blog-home .home3 .blogs .post-info {
    padding: 30px 15px;
}

	.ftc-recent-comments-widget .comment-meta>div.meta {
    padding-left: 0;
    padding-top: 10px;
}
	.text_for_men.row1 {
    margin-left: 0px;
    padding: 37px 40px 100px 0px;
}
.text_for_women.row2 {
    margin-right: 0;
    margin-left: -30px;
    padding: 38px 0px 41px 40px;
    margin-top: -70px;
}
.lastest-product .vc_tta-container h2 {
    font-size: 17px;
}

.blog-home .blogs .post-info {
    padding: 25px 10px;
}
	.newsletter-footer .text-half {
		margin-left: 0;
	}
	
	.newsletter-footer input[type="submit"]
	{
		min-width: 100px;
	}

}
@media only screen and (min-width: 991px) and (max-width: 1024px){
    .tagcloud a{
        width: 100%;
    }
}
@media only screen and (max-width: 991px){
	.header-content > .container {
        width: 100%;
    }
    article .post-info .entry-info .right-info{
        margin-top: 10px;
    }
	.ftc-shoppping-cart:before {
    left: 5px;
}
	.lastest-product .owl-nav > div.owl-next
	{
		background: #000;
	}
	.lastest-product  .owl-nav .owl-next:after
	{
		border-bottom: 30px solid #000;
	}
	.woocommerce .cart_totals table.shop_table tbody tr td {
    border-left: 1px solid #e5e5e5 !important;
}
	.blog-home .blogs .post-img, .blog-home .blogs .post-info {
    width: 100%;
    display: block;
}
.blog-home .blogs .post-info
{
	        padding: 30px 15px 32px;
}
.blog-home .blogs .post-img:before {
    content: "";
    width: 0;
    height: 0;
    border-bottom: 15px solid #eee;
    border-right: 15px solid transparent!important;
    border-left: 15px solid transparent!important;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
    bottom: 0;
    z-index: 1;
}

.blog-home .blogs .post-img:after 
{
	display: none;
}
	body.wpb-js-composer .lastest-product .ftc-product-slider {
    padding-top: 80px;
}
.lastest-product .owl-nav > div {
    top: -55px;
    right: auto;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
}
	.ftc-shop-cart .ftc-shoppping-cart .dropdown-container {
    margin-left: -90px;
	left: 0;
    right: auto;
}
	.woocommerce-account .woocommerce-MyAccount-content, .woocommerce-account .woocommerce-MyAccount-navigation {
    float: none;
    width: 100%;
}
.woocommerce-account .woocommerce-MyAccount-navigation {
    margin-bottom: 30px !important;
}
.woocommerce .col2-set .col-2, .woocommerce-page .col2-set .col-2 {
    float: left;
    width: 100%;
    padding-top: 30px !important;
}
	.text_for_men.row1 h3:after, .text_for_women.row2 h3:after
	{
		display: none;
	}
	.header-layout3 .logo-wrapper {
    padding: 0;
}
	.woocommerce #content div.product div.details-img, .woocommerce div.product div.details-img, .woocommerce-page #content div.product div.details-img, .woocommerce-page div.product div.details-img {
    width: 100%;
}
.woocommerce #content div.product div.summary, .woocommerce div.product div.summary, .woocommerce-page #content div.product div.summary, .woocommerce-page div.product div.summary {
    width: 100%;
    padding-left: 0;
}
.details_thumbnails {
    width: 77%;
}
	.woocommerce table.shop_table.woocommerce-cart-form__contents tr td, 
	.woocommerce-page table.shop_table.woocommerce-cart-form__contents tr td {
    display: block;
    text-align: right!important;
}
.woocommerce table.shop_table.woocommerce-cart-form__contents tr, 
.woocommerce-page table.shop_table.woocommerce-cart-form__contents tr
{
	display: block
}
.woocommerce table.shop_table.woocommerce-cart-form__contents   tr td::before, 
.woocommerce-page table.shop_table.woocommerce-cart-form__contents   tr td::before {
    content: attr(data-title) ": ";
    font-weight: 700;
    float: left;
}
.woocommerce table.shop_table.woocommerce-cart-form__contents tr:nth-child(2n) td,
 .woocommerce-page table.shop_table.woocommerce-cart-form__contents tr:nth-child(2n) td {
    background-color: rgba(0,0,0,.025);
}
.woocommerce table.shop_table.woocommerce-cart-form__contents tr:nth-child(2n) td, 
.woocommerce-page table.shop_table.woocommerce-cart-form__contents tr:nth-child(2n) td {
    width: 100%;
}
.woocommerce table.shop_table.woocommerce-cart-form__contents   tr td.actions::before, 
.woocommerce-page table.shop_table.woocommerce-cart-form__contents   tr td.actions::before,
.woocommerce table.shop_table.woocommerce-cart-form__contents   tr td.product-remove::before, 
.woocommerce-page table.shop_table.woocommerce-cart-form__contents   tr td.product-remove::before
{
	display: none;
}
.woocommerce table.shop_table.woocommerce-cart-form__contents td:first-child {
    width: auto;
}
.shop_table.wishlist_table tfoot {
    display: table;
    width: 209px;
}
.shop_table.wishlist_table tfoot td {
    border-top: 0 !important;
}
.woocommerce table.wishlist_table tbody tr:last-child td {
    border-bottom: 1px solid #ebebeb;
}

.woocommerce table.shop_table.woocommerce-cart-form__contents thead tr, .woocommerce-page table.shop_table.woocommerce-cart-form__contents thead tr {
    display: none;
}
	.ftc-search-product .ftc_search_ajax input[type="text"],
	.ftc-enable-ajax-search
	{
		right: auto;
		left: -45px;
	}
	.footer-middle-1 .wpb_content_element {
    margin-bottom: 30px;
}
.footer-bottom .wpb_column.vc_column_container.vc_col-sm-4 {
    width: 100%;
    text-align: center;
}
.footer-bottom .widget.ftc-footer .wpb_single_image {
    margin: 0 0 20px;
    text-align: center;
}
.footer-bottom .wpb_column.vc_column_container.vc_col-sm-4:first-child .wpb_text_column {
    margin-bottom: -5px;
}
.site-footer .tag-footer .widget.widget_tag_cloud {
    margin-bottom: 20px;
}

.header-content .container > div.header-info{
        display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.header-content .container > div.header-info > div.right-content > div.ftc-search-product.search-shop-hidden{
    display: none;
}
.header-content .container > div.header-info > div.right-content > div{
    display: inline-block;
    vertical-align: middle;
}
.header-content .container > div.header-info > div{
        display: block;
    flex: 1;
    text-align: center;
}
	.header-content .container > div {
    display: block;
     flex: 1;
}
.header-layout3 .logo-wrapper{
    width: auto;
    margin-top: 0px;
}
.logo-wrapper {
    width: 100%;
    text-align: center;
	margin-top: 30px;
}
.logo-wrapper:before,.logo-wrapper:after
{
	display: none;
}
.search-shop-visible
{
	display: none !important;
}
.ftc-shoppping-cart:before{
    content: none;
}
.ftc-shop-cart.search-shop-hidden {
    position: relative;
    z-index: 998;
}
.header-layout3 .ftc-shop-cart.search-shop-hidden {
    left: 0;
    transform: none;
    margin: 0px;
}
.ftc-search-product.search-shop-hidden {
    left: 50%;
    position: relative;
    transform: translateX(calc(-50% - 85px));
    z-index: 999;
    margin: 20px 0;
}
.header-layout3 .ftc-search-product.search-shop-hidden {
    left: 8px;
    transform: none;
}
.ftc-shop-cart .ftc-shoppping-cart {
      width: 180px;
    margin: 20px 0 15px auto;
    text-align: right;
    height: auto;
    line-height: 1;
    background-color: transparent;
    padding-right: 0;
}
.ftc-shop-cart .ftc-shoppping-cart a.ftc_cart{
    color: #000;
    display: inline-block;
    text-align: center;
    padding: 0;
    position: relative;
}
a.ftc_cart .cart-number{
    position: absolute;
    top: -2px;
    line-height: 1;
    display: inline-block;
    right: -6px;
}
.header-sticky-hide {
    position: static;
    -webkit-animation: none;
    -moz-animation: none;
    animation: none;
}
.header-content .navigation-primary .container,
body:not(.wpb-js-composer) .header-content .navigation-primary .container {
    width: auto;
}
.header-content .navigation-primary  {
    background-color: #252525;
    margin-bottom: 30px;
}
#mega_main_menu.responsive-enable > .menu_holder > .menu_inner > .nav_logo {
    display: inline-block;
}
#mega_main_menu.primary > .menu_holder > .menu_inner > .nav_logo > .mobile_toggle > .mobile_button, #mega_main_menu.primary > .menu_holder > .menu_inner > ul > li > .item_link, #mega_main_menu.primary > .menu_holder > .menu_inner > ul > li > .item_link * {
    color: #fff;
}
#mega_main_menu.primary > .menu_holder > .menu_inner > .nav_logo > .mobile_toggle > .mobile_button {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 17px;
}
#mega_main_menu.responsive-enable.mobile_minimized-enable > .menu_holder > .menu_inner > .nav_logo .symbol_menu {
    font-size: 24px;
    position: relative;
    top: -1px;
}
#mega_main_menu.responsive-enable.mobile_minimized-enable > .menu_holder > .menu_inner > .nav_logo.mobile_menu_active .mobile_toggle .mobile_button .symbol_cross {
    font-size: 12px;
	top: -2px;
position: relative;
}
.navigation-primary {
    width: 100%;
}
    .woocommerce .products.list .product   .item-description {
        width: 65%;
    padding: 15px 15px;
    vertical-align: middle;
    }
	.woocommerce .products.list .product h3.product-name, .woocommerce-page .products.list .product h3.product-name {
    margin-bottom: 8px;
    margin-top: 0;
}
    #testimonial2 .ftc-sb-testimonial .active .testimonial-content .info {
        width: 650px;
        transform: translateX(calc(-50% + 124px));
    }
    #testimonial2 .ftc-sb-testimonial.owl-carousel .owl-stage-outer {
        height: 600px !important;
    }
    #testimonial2 .ftc-sb-testimonial {
        margin: 0 0 0 42px;
    }
    #testimonial2 .ftc-sb-testimonial.owl-carousel .owl-dots {
        top: 80%;
        transform: translateX(5%);
    }
    #testimonial2 .ftc-sb-testimonial .active.center .testimonial-content .avatar {
        margin-top: 228px;
    }
    #testimonial2 .testimonial-content .avatar {
        margin: 243px auto 0 auto;
    }
    .wpcf7 p {
        width: 100%;
    }
    menu-fix .menu-ftc,
.menu-ftc{
	display: block;
}
@-moz-document url-prefix(){
    .header-layout3 .ftc-search-product.search-shop-hidden{
        left: 9px;
    }
    .ftc-search-product.search-shop-hidden{
        transform: translateX(calc(-50% - 82px));
    }
}
}
@media only screen and (max-width: 768px){
	.ftc-team-member .socials li {
    margin: 0;
}
    
    .woocommerce-page .woocommerce-ordering .orderby-title{
        display: none;
    }

    .woocommerce div.product .woocommerce-tabs ul.tabs li{
        margin-bottom: 10px;
    }

    
    .text_row1, .text_row2, .text_row3 {
        margin-top: -18px;
    }

    .faq .vc_col-sm-8{
        width: 100%;
        padding: 0px 30px !important;
    }

    .single-img{
        text-align: center;
    }
}
@media only screen and (max-width: 991px) and (min-width: 601px){

    .footer-middle .vc_col-sm-3{
        width: 100%;
    }
    
    .footer-middle .vc_col-sm-2{
        width: 33.33333%;
		    float: left;
    }
}
@media only screen and (max-width: 820px){
	
    .ftc-sb-testimonial .active .testimonial-content .info{
        width: 650px;
        padding: 60px 100px 42px;
    }
}
@media only screen and (max-width: 767px){
	.ftc-team-member {
    max-width: 300px;
    margin: 20px auto;
}
    
    .post-navigation .nav-next{
        margin-bottom: 25px;
    }
	.woocommerce .wc-proceed-to-checkout a.button.alt, .woocommerce .wc-proceed-to-checkout a.button {
    padding: 14px 0;
    margin-bottom: 5px;
}
	.woocommerce-page.columns-4 .products .product, .woocommerce.columns-4 .products .product {
    width: 45%;
}
	.blog-home .home3 {
    margin-top: -30px;
}
	.vc_row.single-img-home3-full {
    padding-top: 40px !important;
}
	.sing-img-right .vc_col-sm-8 .ftc-smooth-image {
    margin-bottom: 0;
}
	.single-img-home4 .ftc-smooth-image.ftc-smooth {
    display: block;
}
	.about-us .wpb_wrapper p:last-child {
    padding-bottom: 20px;
}
	.widget-container.widget_recently_viewed_products  a.block-control,
	.widget-container.widget_product_tag_cloud a.block-control
	{
		display: none !important;
	}
	.widget_recently_viewed_products ul.product_list_widget,
	.widget_product_tag_cloud .tagcloud{
    display: block !important;
}
.single-product .widget-container.widget_recently_viewed_products
{
	width: 270px;
    margin: 0 auto 30px !important;
}
	.header-ftc {
    position: relative;
    z-index: 4;
}
    .ftc-sb-testimonial,
    
    .woocommerce #content div.product div.thumbnails a,
    .woocommerce div.product div.thumbnails a,
    .woocommerce-page #content div.product div.thumbnails a,
    .woocommerce-page div.product div.thumbnails a,
    .pp_woocommerce div.product div.images-slider-wrapper,
    .woocommerce .pp_woocommerce div.product div.images-slider-wrapper,
    .woocommerce-page .pp_woocommerce div.product div.images-slider-wrapper{
        width: 100%;
    }
    .woocommerce #content div.product div.thumbnails .owl-controls,
    .woocommerce div.product div.thumbnails .owl-controls,
    .woocommerce-page #content div.product div.thumbnails .owl-controls,
    .woocommerce-page div.product div.thumbnails .owl-controls,
    #right-sidebar .widget-title-wrapper:before,
    #right-sidebar .widget-title:after{
        display: none;
    }
	.ftc-sidebar > .widget-container .widget-title-wrapper a.block-control {
    right: 20px;
}

section:nth-child(2).widget-container.widget_text a.block-control {
    display: none !important;
}

.widget_price_filter .widget-title-wrapper, 
.product-filter-by-color .widget-title-wrapper,
 section.widget-container.widget_layered_nav .widget-title-wrapper {
    border-bottom: 0 !important;
    padding-bottom: 10px;
    padding-top: 10px;
}
section.widget-container.ftc-effect-image {
    margin-top: -1px !important;
	margin-bottom: 0 !important;
}
.single-post #left-sidebar ul, #left-sidebar div > ul, #left-sidebar section > ul {
    border-top: none;
}

section.widget-container.widget_layered_nav ul {
    margin-bottom: 0 !important;
    border-bottom: 0 !important;
    position: relative;
}
.woocommerce-page.columns-3 .products .product, .woocommerce.columns-3 .products .product {
    width: 30%;
}
.text_for_men.row1  , .text_for_women.row2 {
    margin-right: 0;
    margin-left: 0;
    padding: 30px 15px 34px;
    text-align: justify;
    margin-top: 30px;
}
.text_for_women.row2 {
    margin-top: 0px;
}

.feature_home1 .vc_row.wpb_row.vc_inner.vc_row-fluid:first-child {
    display: flex;
    flex-direction: column-reverse;
	    display: -webkit-flex;
    -webkit-flex-flow: column-reverse wrap;
}

.feature-img2.vc_col-sm-6 {
    margin-top: 30px;
    margin-bottom: 30px;
}
body.wpb-js-composer .lastest-product .vc_general.vc_tta-tabs .vc_tta-tabs-container:after,
.lastest-product .vc_tta-container h2:after , .lastest-product .vc_tta-container h2:before
{
	display: none;
}
.lastest-product .vc_tta-container h2 , .lastest-product .home3 .vc_tta-container h2{
    width: 50%;
    float: none;
    text-align: center;
    margin-right: 0;
    margin: 30px auto;
}
.lastest-product .home3 .vc_tta-container h2 {
    padding-left: 0;
}
.wpb-js-composer .lastest-product .vc_tta-container .vc_tta.vc_general .vc_tta-tabs-list {
    margin-left: 0;
    width: 100%;
    text-align: center;
}
body.wpb-js-composer .lastest-product .ftc-product-slider {
    padding-top: 80px;
}
.lastest-product .owl-nav > div {
    top: -55px;
    right: auto;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
}
.banner2 .ftc-smooth-image.ftc-smooth
{
	display: block;
}
.banner2 .text-content .text-bg {
    padding: 30px 0;
    position: static;
}
.banner2 .text-content .text-nobg h5, .banner2 .text-content .text-nobg h2
{
	text-align: center;
}
.banner2 .text-content .text-nobg, .banner2 .text-content .text-background {
    padding-left: 0;
}
.banner2 .text-content .text-background {
    margin: 0 auto;
    width: 72%;
}
.blog-home .blogs .post-img, .blog-home .blogs .post-info {
    width: 100%;
    display: block;
}
.blog-home .blogs .post-info
{
	    padding: 30px 15px 32px;
}
.blog-home .blogs .post-img:before {
    content: "";
    width: 0;
    height: 0;
    border-bottom: 15px solid #eee;
    border-right: 15px solid transparent!important;
    border-left: 15px solid transparent!important;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
    bottom: 0;
    z-index: 1;
}
.vc_row.blog-home {
    margin-bottom: -60px !important;
}
.blog-home .blogs .post-img:after 
{
	display: none;
}
	.newsletter-footer .text-half {
    margin-left: 0;
}
.newsletter-footer .text-half h3 {
    margin-top: 20px;
}
.newsletter-footer .vc_col-sm-6:last-child .wpb_text_column.wpb_content_element {
    margin-top: 0px !important;
}
.newsletter-footer .vc_column_container>.vc_column-inner {
    padding-top: 0 !important;
    padding-left: 0;
    padding-right: 0;
}
    .ftc-sb-testimonial.owl-carousel .owl-stage-outer{
        overflow: hidden;
    }
    footer .social-icons ul,
    .ftc-footer .copy-com{
        text-align: center;
    }
    .widget-title-wrapper {
        position: relative;
    }
    .widget-title-wrapper a.block-control {
        position: absolute;
        content: "";
        width: 30px;
        height: 30px;
        display: inline-block;
        line-height: 0;
        right: 0px;
        top: 9px;
        text-align: center;
        text-indent: 0;
        z-index: 999;
    }
    .widget-title-wrapper a.block-control:before {
        content: "\f0fe";
        font-family: 'FontAwesome';
        font-size: 16px;
        line-height: 30px;
        text-indent: 0;
    }
    .widget-title-wrapper a.block-control.active:before {
        content: "\f146";
    }
    .woocommerce #content div.product div.details-img,
    .woocommerce div.product div.details-img,
    .woocommerce-page #content div.product div.details-img,
    .woocommerce-page div.product div.details-img,
    .woocommerce #content div.product div.summary,
    .woocommerce div.product div.summary,
    .woocommerce-page #content div.product div.summary,
    .woocommerce-page div.product div.summary,
    .pp_woocommerce div.product div.summary,
    .woocommerce-page .pp_woocommerce div.product div.summary{
        width: 100%;
        padding: 0;
    }
    .woocommerce #content div.product div.details-img,
    .woocommerce div.product div.details-img,
    .woocommerce-page #content div.product div.details-img,
    .woocommerce-page div.product div.details-img{
        margin-bottom: 20px;
    }
    #testimonial2 .ftc-sb-testimonial {
        margin: 0;
    }
    #testimonial2 .ftc-sb-testimonial.owl-carousel .owl-controls .owl-dots{
        position: static;
        transform: none;
        margin-bottom: 20px;
        text-align: center;
    }
    #testimonial2 .ftc-sb-testimonial .active .testimonial-content .info {
        position: relative;
        left:0;
        width: 550px;
        transform: none;
        margin: 30px auto;
        padding: 30px
    }
    #testimonial2 .ftc-sb-testimonial.owl-carousel .owl-stage-outer {
        height: 525px !important;
    }
    #testimonial2 .ftc-sb-testimonial .active.center .testimonial-content .avatar {
        margin: 115px auto 0;
    }
    #testimonial2 .ftc-sb-testimonial .active.center .testimonial-content .name,
    #testimonial2 .ftc-sb-testimonial .active.center .testimonial-content .byline {
        margin: 0 auto;
    }
    #testimonial2 .ftc-sb-testimonial.owl-carousel .owl-dots {
        top: 92%;
        left: 50%;
        transform: translateX(-50%);
        text-align: center;
    }
    .comment-body{
        margin-left: 0px;
    }

    #right-sidebar .widget-title-wrapper{
        border-bottom: 1px solid #e5e5e5;
    }

    .single-post #right-sidebar ul, #right-sidebar div > ul, #right-sidebar section > ul{
        border-top: none;
    }

    #right-sidebar .widget-container.widget_recent_comments{
        margin-bottom: 60px;
    }
    .service_row2{
        display: flex;
        flex-direction: column-reverse;
    }

    .feature_row1.vc_col-sm-6,.feature_row2.vc_col-sm-6,.feature_row3.vc_col-sm-6{
        padding-right: 15px !important;
        padding-left: 15px !important;
    }

    .text_row1.vc_col-sm-6,.text_row2.vc_col-sm-6,.text_row3.vc_col-sm-6{
        padding-right: 67px !important;
        padding-left: 67px !important;
    }

    .text_row1,.text_row2, .text_row3{
        margin-top: 30px;
    }


    .service_row1.vc_row-fluid{
        margin-bottom: 0px !important;
    }

    .service_row2.vc_row-fluid{
        margin-bottom: 30px !important;
    }

    .widget-container.ftc-effect-image{
        text-align: center;
    }

}

@media (max-width: 736px){
    .header-content > .container {
        width: 100%;
    }
    
      article .post-info .entry-info .right-info{
    float: none;
    display: block;
}
}

@media (max-width: 667px){
}
@media only screen and (max-width: 735px)
{
	.nav-left, .nav-right
	{
		width: 100%;
		text-align: center;
		float: none;
	}
	.header-language {
    margin-left: 15px;
}
.ftc-checkout-menu {
    margin-right: 15px;
}
.ftc-account .dropdown-container
{
	right: auto;
    left: 0;
}
}
@media only screen and (max-width: 684px){
   
}
@media only screen and (max-width: 667px){
	.woocommerce-page.columns-3 .products .product, .woocommerce.columns-3 .products .product {
    width: 45%;
}

	.header-language {
    margin-left: 15px;
}
.ftc-checkout-menu {
    margin-right: 15px;
}
	
    .ftc-sb-testimonial .active .testimonial-content .info{
        width: 600px;
        padding: 60px 100px 42px;
    }
    .grid .ftc-product  .item-description .meta_info .yith-wcwl-add-to-wishlist a,
    .grid .ftc-meta-widget.item-description .meta_info .yith-wcwl-add-to-wishlist a{
        padding: 0;
    }
    .woocommerce .product  .item-description .meta_info .add-to-cart a:first-child:before,
    .ftc-meta-widget.item-description .meta_info .add-to-cart a:first-child:before{
        margin: 0;
    }

    .text_row1.vc_col-sm-6,.text_row2.vc_col-sm-6,.text_row3.vc_col-sm-6{
        padding-right: 32px !important;
        padding-left: 32px !important;
    }
}
@media only screen and (min-width: 650px) and (max-width: 820px){
    .ftc-sb-testimonial .active.center .testimonial-content .avatar {
        margin-top: 355px;
    }
    .testimonial-content .avatar {
        margin: 370px auto 0 auto;
    }
}
/*-----------------------------------------------------------------------------------------------------*/
/*- 2. PHONE RESPONSIVE -------------------------------------------------------------------------------*/
@media only screen and (max-width: 640px){
    .ftc-sb-testimonial .active .testimonial-content .info{
        width: 500px;
        top: 87px;
        padding: 30px 0 20px 0;
    }
    .ftc-search-product.search-shop-hidden {
        margin: 20px 0;
    }
    .header-layout3 .ftc-search-product.search-shop-hidden {
        margin: 0;
    }
    
    .ftc-search-product .ftc_search_ajax input[type="text"],
    .ftc-enable-ajax-search
    {
        left: -25px;
    }
    .header-content .container > div.header-info > div.right-content{
        display: block;
        text-align: center;
    }
    .ftc-shop-cart .ftc-shoppping-cart .dropdown-container {
    margin-left: -65px;
    }
    .header-layout3 .logo-wrapper {
    width: 100%;
    text-align: center;
    }
    
    .wpb-js-composer .lastest-product .vc_tta-container .vc_tta.vc_general .vc_tta-tabs-list{
        padding: 10px 0;
    }
    body.wpb-js-composer .vc_general.vc_tta-tabs.default_no_border .vc_tta-tab > a{
        padding: 7px 20px;
        line-height: 20px;
    }
    .ftc-sb-testimonial.owl-carousel .owl-stage-outer {
        height: 470px !important;
    }
    .ftc-sb-testimonial .active.center .testimonial-content .avatar {
        margin-top: 295px;
    }
    .header-layout2{
        position: static;
        background-color: #2b2b2b;
    }
    .header-layout2 #mega_main_menu.primary > .menu_holder > .menu_inner > .nav_logo > .mobile_toggle > .mobile_button{
        color: rgba(255,255,255,.6);
    }
    .header-layout2 .ftc-shop-cart .ftc-shoppping-cart{
        text-align: center;
    }
    
    .header-layout2 .ftc_search_ajax input[type="submit"] {
        display: block;
    }
    .woocommerce .before-loop-wrapper{
        display: block;
        text-align: center;
    }
    .grid_list_nav,
    .woocommerce .before-loop-wrapper .woocommerce-result-count,
    .woocommerce-page .before-loop-wrapper .woocommerce-result-count,
    .woocommerce .woocommerce-ordering, .woocommerce-page .woocommerce-ordering{
        float:none;
        text-align: center;
    }
    .woocommerce .before-loop-wrapper .woocommerce-result-count,
    .woocommerce-page .before-loop-wrapper .woocommerce-result-count{
        position: static;
        transform: none;
        padding: 0;
    }
    #testimonial2 .ftc-sb-testimonial .active .testimonial-content .info {
        width: 570px;
    }

    .header-content > .container {
        width: 100%;
    }
	.woocommerce .products.list .product   .item-description
	{
		width: auto;
	}
	.woocommerce .products.list .product .images {
    width: 220px !important;
}
}
@media only screen and (max-width: 600px){
    .ftc-products-category .row-tabs{
        width: 100%;
        margin-bottom: 20px;
    }
    .admin-bar .header-ftc.header-sticky-mobile{
        top: 0;
    }
    .admin-bar .ftc-mobile-wrapper{
        top: 0;
    }
    body:not(.fullwidth-template-padding) .ftc-products-category .row-content{
        padding: 0;
    }
    .ftc-products-category .row-content{
        width: 100%;
    }
    
    #testimonial2 .ftc-sb-testimonial.owl-carousel .owl-stage-outer {
        height: 555px !important;
    }
    #testimonial2 .ftc-sb-testimonial .active .testimonial-content .info {
        width: 450px;
    }

    .faq:nth-child(3) .vc_toggle_title h4::before,.faq:nth-child(3) .vc_toggle_active .vc_toggle_title h4:before,
    .faq:nth-child(4) .vc_toggle_title h4::before,.faq:nth-child(4) .vc_toggle_active .vc_toggle_title h4:before  {
        top: 14px;
    }

    .text_row1.vc_col-sm-6,.text_row2.vc_col-sm-6,.text_row3.vc_col-sm-6{
        padding-right: 15px !important;
        padding-left: 15px !important;
    }

    .ftc-products-category ul.tabs li {
        margin: 0px 142px;
    }

}

@media only screen and (max-width: 568px){
	.newsletter-footer input[type="email"]
	{
		width: 350px;
	}
    .ftc-products-category ul.tabs li {
        margin: 0px 142px;
    }
}
@media only screen and (max-width: 550px){
   #testimonial2 .ftc-sb-testimonial .active .testimonial-content .info {
    width: 400px;
}
.newsletter-footer form {
    float: none;
    display: inline-block;
    text-align: center;
}
.newsletter-footer input[type="email"] {
    margin-bottom: 20px;
	float: none;
}
.newsletter-footer p.submit-footer:after
{
	display: none;
}
}
@media only screen and (max-width: 480px){
	.intro-top, .intro-bottom
	{
		display: block;
		text-align: center;
	}
    .woocommerce div.product .woocommerce-tabs ul.tabs li{
        margin: 0 7px 0 0;
    }
    .footer-bottom{
        margin-bottom: 60px;
    }
    .admin-bar .ftc-mobile-wrapper{
        top: 0;
    }
    .footer-mobile > div .ftc-my-wishlist{
        margin: 0;
    }
    .admin-bar .header-ftc.header-sticky-mobile{
        top: 0;
    }
    .ftc-shop-cart .ftc-shoppping-cart{
        display: inline-block;
        background-color: transparent;
    }
    .ftc-shop-cart .ftc-shoppping-cart .dropdown-container{
        left: auto;
        right: 0;
    }
    .header-content .container .ftc-shop-cart.search-shop-hidden{
        text-align: right;
    }
    .ftc-shop-cart .ftc-shoppping-cart{
        width: auto;
    }
    .header-content a.ftc_cart{
        color: #000;
    }
	.intro-box
	{
		padding: 15px 0 15px;
	}
	.intro-top {
    padding: 0;
}
	.site-content .related.products h2
	{
		margin-bottom: 65px;
	}
	.related.products .owl-nav > div
	{
		top: -48px;
		left: 50%;
    transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	right: auto;
	}
	.woocommerce .products.list .product .item-description {
    display: block;
    margin: 10px 0;
}
.woocommerce .products.list .product .images {
    width: 270px !important;
    display: block;
    border-right: 0;
	margin: 20px auto 0;
}
	.woocommerce-page.columns-3 div.products .product, .woocommerce.columns-3 div.products .product, .woocommerce-page.columns-4 div.products .product, .woocommerce.columns-4 div.products .product {
    width: 100%;
}
	.banner2 .text-content .text-background {
    width: 100%;
    padding: 0 20px;
}

.feature_home1 h3
{
	text-align: left;
}
	.lastest-product .vc_tta-container h2, .lastest-product .home3 .vc_tta-container h2
	{
		width: 80%;
	}
	#mega_main_menu.responsive-enable li.multicolumn_dropdown > .mega_dropdown > li {
    width: 100% !important;
}
    
    .ftc-sb-testimonial .active .testimonial-content .info {
        width: 320px;
        top: 65px;
        padding: 30px 20px;
    }
    .ftc-sb-testimonial.owl-carousel .owl-stage-outer {
        height: 521px !important;
    }
    .ftc-sb-testimonial .active.center .testimonial-content .avatar {
        margin-top: 340px;
    }
    #testimonial2 .ftc-sb-testimonial.owl-carousel .owl-stage-outer {
        height: 690px !important;
    }
    #testimonial2 .ftc-sb-testimonial .active .testimonial-content .info{
        width: 240px;
    }
    #testimonial2 .ftc-sb-testimonial .active.center .testimonial-content .avatar {
        margin: 85px auto 0;
    }
	.newsletter-footer input[type="email"] {
    width: 335px;
}


}
@media only screen and (max-width: 480px){
	body.wpb-js-composer .ftc-breadcrumb-title {
    padding: 60px 0;
}
	.woocommerce table.shop_attributes th {
    width: auto;
}
.woocommerce div.product form.cart .group_table td {
    width: 100% !important;
    display: inline-block;
    float: left;
    text-align: left;
    padding-left: 15px !important;
}
.woocommerce div.product-type-grouped form.cart div.quantity {
    padding-left: 0;
}
.woocommerce div.product form.cart .group_table td:last-child {
    width: 100%;
    text-align: left;
}
	.woocommerce table.wishlist_table thead th {
    font-size: 13px;
    padding: 16px 0;
}
.woocommerce .wishlist_table td.product-add-to-cart span.ftc-tooltip.button-tooltip {
    display: none;
}
.woocommerce table.wishlist_table tbody td {
    padding: 16px 5px;
    font-size: 13px;
    overflow: hidden;
}
.woocommerce .wishlist_table td.product-add-to-cart a:before {
    content: "\f07a";
    font-family: FontAwesome;
	font-size: 17px;
}
.wishlist_table tr td a.button {
       width: 40px !IMPORTANT;
    height: 40px !IMPORTANT;
    line-height: 40px !important;
	padding: 0 !important
}
.woocommerce .wishlist_table td.product-add-to-cart a {
    margin: 0 auto;
}
	
    .ftc-product .conditions-box{
        display: none;
    }
    div.product .social-sharing li{
        margin-bottom: 3px;
    }

    .vc_toggle_title h4::before,.vc_toggle_active .vc_toggle_title h4:before {
        top: 14px;
    }

    .ftc-products-category ul.tabs li {
        margin: 0px 48px;
    }
    .ftc-account .dropdown-container {
        left: 50px;
    }
}
@media only screen and (max-width: 440px)
{
	.blog article.post-item.post-password-required.category-uncategorized.tag-template .post-password-form input[type="submit"] {
    position: static;
    margin-bottom: 15px;
}
.blog .caftc-link{
        display: inline;
    }
}

@media only screen and (max-width: 400px){
	.newsletter-footer input[type="email"] {
    width: auto;
}
	.newsletter-footer .text-half h3
	{
		font-size: 22px;
	}
	.newsletter-footer p.submit-footer:after
	{display: none;}
    body.wpb-js-composer .vc_general.vc_tta-tabs .vc_tta-tabs-container .vc_tta-tabs-list:before,
    body.wpb-js-composer .vc_general.vc_tta-tabs .vc_tta-tabs-container .vc_tta-tabs-list:after,
    body.wpb-js-composer .vc_general.vc_tta-tabs .vc_tta-tabs-container:before{
        display: none;
    }
    .woocommerce.columns-4 .products .product  .images .compare {
        margin-right: 0;
    }

    .service_row1 .text_service, .service_row2 .text_service, .service_row3 .text_service {
        padding: 20px 0px 25px 30px;
    }
    .ftc-products-category ul.tabs li {
        margin: 0px 33px;
    }
.ftc-account .dropdown-container {
    width: 250px;
    left: 60px;

}
.newsletter-footer form {
    float: none;
    display: inline-block;
    text-align: center;
}
.newsletter-footer input[type="email"] {
    margin-bottom: 20px;
    width: 240px;
	float: none;
}

}

@media only screen and (max-width: 378px){
	.post-password-form input[type="submit"] {
    position: static;
}
.info-desc > span:first-child, .ftc-sb-language, .header-currency, 
.ftc-my-wishlist, .ftc-sb-account, .dropdown-button, 
.header-language, .header-currency, .ftc-shop-cart,
 .ftc-checkout-menu, .custom_content{
    margin: 5px 12px;
 }
	.newsletter-footer .text-half h3 {
    font-size: 21px;
}
.ftc-search-product.search-shop-hidden{
    left: 9px;
}
article .post-info .entry-info .socialsharing_blog .social-icons li{
        margin-right: 0;
    }
    
article .post-info .entry-info div.date-time{
    margin-right: 7px;
    padding-right: 7px;
}
	.content_title .title_block {
    font-size: 28px;
}
	.site-content .related.products h2 .bg-heading {
    font-size: 22px;
}
    .ftc-products-category ul.tabs li {
        margin: 0px 29px;
    }
.ftc-account .dropdown-container {
    width: 250px;
}
}
@media only screen and (max-width: 359px){
	.site-content .related.products h2 .bg-heading {
    font-size: 19px;;
}

	.woocommerce table.wishlist_table thead th {
    font-size: 11px;
}
	.woocommerce .products.list .product .item-description .button-in, .woocommerce .products.list .product .item-description .add-to-cart,
.woocommerce .products.list .product   .item-description .compare,
.woocommerce .products.list .product   .item-description .quickview	{
    margin-right: 3px;
}
.woocommerce .product  .item-description .meta_info .add-to-cart a:first-child:after, .ftc-meta-widget.item-description .meta_info .add-to-cart a:first-child:after
{
	margin-left: 15px;
}
.woocommerce .products.list .product .item-description .meta_info .yith-wcwl-add-to-wishlist a
{
	margin-left: 0;
}
.woocommerce .products.list .product .item-description .yith-wcwl-add-to-wishlist {
    margin-right: 0;
}
	.intro-top {
    padding-left: 5px;
}
	footer#colophon .social-icons li {
    margin: 0 5px;
}
.ftc-search-product .ftc_search_ajax input[type="text"] , .ftc-enable-ajax-search{
    left: -30px;
}


    .woocommerce div.product .woocommerce-tabs ul.tabs li{
        margin-bottom: 10px;
    }

    .ftc-sb-testimonial .active .testimonial-content .info {
        width: 250px;
        top: 65px;
        padding: 30px 20px;
    }

    .ftc-sb-testimonial .active.center .testimonial-content .avatar {
        margin-top: 350px;
    }
	.ftc-shop-cart .ftc-shoppping-cart .dropdown-container
	{
		margin-left: -85px;
	}
}
@media only screen and (max-width: 330px){
	.vc_row.countdown-product .counter-wrapper > div
	{
		margin: 0 2px;
	}
    body.wpb-js-composer .vc_general.vc_tta-tabs.default_no_border .vc_tta-tabs-container .vc_tta-tab:before,
    body.wpb-js-composer .vc_general.vc_tta-tabs.default_no_border .vc_tta-tabs-container .vc_tta-tab.vc_active:before,
    body.wpb-js-composer .vc_general.vc_tta-tabs.default .vc_tta-tabs-container .vc_tta-tab:before,
    body.wpb-js-composer .vc_general.vc_tta-tabs.default .vc_tta-tabs-container .vc_tta-tab.vc_active:before{
        display: none;
    }

    .ftc-products-category ul.tabs li {
        margin: 0px 2px;
    }

    .ftc-account .dropdown-container {
    left: 40px;
}

}

@media only screen and (min-width: 768px) and (max-width: 991px){
	.widget-container ul.product-categories {
    padding: 0px 10px !important;
}
article .post-info .entry-info .right-info{
    float: none;
}
.widget_price_filter form
{
	padding: 20px 15px 0 15px;
}
	.tagcloud a
	{
		width: 100%;
		margin: 0 0 8px 0;
    padding: 7px 0px;
	text-align: center;
	}
	footer .widget.widget_tag_cloud .tagcloud a, footer.widget.widget_tag_cloud .tagcloud a, footer .tag-footer.vc_col-sm-3 .widget.widget_tag_cloud .tagcloud a {
    width: auto;
}
	.single-product .tagcloud a
	{
		width: 49%;
	}
	body.wpb-js-composer .home3 .vc_general.vc_tta-tabs.default_no_border .vc_tta-tab > a {
    padding: 20px 10px;
}
.woocommerce-page.columns-4 .products .product, .woocommerce.columns-4 .products .product {
    width: 30%;
}

	.newsletter-footer input[type="email"] {
		width: 200px;
	}
	.lastest-product .home3 .vc_tta-container h2 {
    width: 25%;
}

	.single-img-home4 .vc_col-sm-3 .ftc-smooth-image img {
    height: 250px;
}
	.single-product div#primary {
    width: 63% !important;
}
.single-product aside#right-sidebar {
    width: 37%;
}
	.woocommerce .wc-proceed-to-checkout a.button.alt, .woocommerce .wc-proceed-to-checkout a.button {
    padding: 14px 0;
    margin-bottom: 3px;
}
	.woocommerce-page.columns-3 .products .product, .woocommerce.columns-3 .products .product {
    width: 45%;
}
	.banner2 .text-content .text-nobg {
    padding-left: 0;
}
.intro-top
{
	padding-left: 0;
}
	.text_for_women.row2
	{
		margin-top: -150px;
	}
	.feature_home1 h3
	{
		font-size: 19px;
	}
    .text_for_men.row1 p.text-row-p{
        padding-left: 10px;
    }
	.lastest-product .vc_tta-container h2
	{
		width: 19%;
	}
	body.wpb-js-composer .vc_general.vc_tta-tabs.default_no_border .vc_tta-tab > a
	{
		    padding: 20px 12px;
	}
	.wpb-js-composer .lastest-product .vc_tta-container .vc_tta.vc_general .vc_tta-tabs-list {
    margin-left: 20px;
}
  
.woocommerce .product  .item-description .meta_info .add-to-cart a:first-child:before,
.ftc-meta-widget.item-description .meta_info .add-to-cart a:first-child:before{
    margin: 0;
}
.products.list .short-description.list{
    margin-top: 4px;
}
}
@media only screen and (min-width: 735px) and (max-width: 1190px)

}