<div class="progress-msg">Composing titles...</div>
<div class="progress-msg">Composing excerpts...</div>
<div class="progress-msg">Composing duplicate indicators...</div>
<div class="progress-msg">Composing authors...</div>
<div class="progress-msg">Composing slugs...</div>
<div class="progress-msg">Composing menu order...</div>
<div class="progress-msg">Composing contents...</div>
<div class="progress-msg">Composing dates...</div>
<div class="progress-msg">Composing terms for `Product categories` taxonomy...</div>
<div class="progress-msg">Composing terms for `Product tags` taxonomy...</div>
<div class="progress-msg">Composing custom parameters...</div>
<div class="progress-msg">Composing URLs for images...</div>
<div class="progress-msg">Composing URLs for attachments files...</div>
<div class="progress-msg">Composing unique keys...</div>
<div class="progress-msg">Processing posts...</div>
<div class="progress-msg">Data parsing via add-ons...</div>
<div class="progress-msg">Composing product data...</div>
<div class="progress-msg">Composing variations attributes...</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #1</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Honda Repsol MotoGP One Piece Motorbike Racing Leather Suit`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Honda Repsol MotoGP One Piece Motorbike Racing Leather Suit`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `Honda Repsol MotoGP One Piece Motorbike Racing Leather SuitSmall`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Honda Repsol MotoGP One Piece Motorbike Racing Leather Suit`</div>
<div class="progress-msg"><b>CREATING</b> `Honda Repsol MotoGP One Piece Motorbike Racing Leather Suit` `Product`</div>
<div class="progress-msg">Associate post `Honda Repsol MotoGP One Piece Motorbike Racing Leather Suit` with current import ...</div>
<div class="progress-msg">- <b>CREATED</b>: Taxonomy attribute “pa_size” have been successfully created.</div>
<div class="progress-msg"><b>IMAGES:</b></div>
<div class="progress-msg">- Importing image `honda.repsol.1_2.jpg` for `Honda Repsol MotoGP One Piece Motorbike Racing Leather Suit` ...</div>
<div class="progress-msg">- Using existing image `honda.repsol.1_2.jpg` for post `Honda Repsol MotoGP One Piece Motorbike Racing Leather Suit` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Attachment has been successfully updated for image `http://ue.velocegear.com/wp-content/uploads/2017/05/honda.repsol.1_2.jpg`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `Honda Repsol MotoGP One Piece Motorbike Racing Leather Suit` `Product` (ID: 55)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #2</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Honda Repsol MotoGP One Piece Motorbike Racing Leather Suit`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Honda Repsol MotoGP One Piece Motorbike Racing Leather Suit`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `Honda Repsol MotoGP One Piece Motorbike Racing Leather SuitMedium`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Honda Repsol MotoGP One Piece Motorbike Racing Leather Suit`</div>
<div class="progress-msg"><b>CREATING</b> `Honda Repsol MotoGP One Piece Motorbike Racing Leather Suit` `Product`</div>
<div class="progress-msg">Associate post `Honda Repsol MotoGP One Piece Motorbike Racing Leather Suit` with current import ...</div>
<div class="progress-msg"><b>IMAGES:</b></div>
<div class="progress-msg">- Importing image `honda.repsol.1_2.jpg` for `Honda Repsol MotoGP One Piece Motorbike Racing Leather Suit` ...</div>
<div class="progress-msg">- Using existing image `honda.repsol.1_2.jpg` for post `Honda Repsol MotoGP One Piece Motorbike Racing Leather Suit` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `Honda Repsol MotoGP One Piece Motorbike Racing Leather Suit` `Product` (ID: 56)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #3</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Honda Repsol MotoGP One Piece Motorbike Racing Leather Suit`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Honda Repsol MotoGP One Piece Motorbike Racing Leather Suit`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `Honda Repsol MotoGP One Piece Motorbike Racing Leather SuitLarge`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Honda Repsol MotoGP One Piece Motorbike Racing Leather Suit`</div>
<div class="progress-msg"><b>CREATING</b> `Honda Repsol MotoGP One Piece Motorbike Racing Leather Suit` `Product`</div>
<div class="progress-msg">Associate post `Honda Repsol MotoGP One Piece Motorbike Racing Leather Suit` with current import ...</div>
<div class="progress-msg"><b>IMAGES:</b></div>
<div class="progress-msg">- Importing image `honda.repsol.1_2.jpg` for `Honda Repsol MotoGP One Piece Motorbike Racing Leather Suit` ...</div>
<div class="progress-msg">- Using existing image `honda.repsol.1_2.jpg` for post `Honda Repsol MotoGP One Piece Motorbike Racing Leather Suit` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `Honda Repsol MotoGP One Piece Motorbike Racing Leather Suit` `Product` (ID: 58)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #4</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `Honda Repsol MotoGP One Piece Motorbike Racing Leather Suit`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `Honda Repsol MotoGP One Piece Motorbike Racing Leather Suit`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `Honda Repsol MotoGP One Piece Motorbike Racing Leather SuitExtra Large`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `Honda Repsol MotoGP One Piece Motorbike Racing Leather Suit`</div>
<div class="progress-msg"><b>CREATING</b> `Honda Repsol MotoGP One Piece Motorbike Racing Leather Suit` `Product`</div>
<div class="progress-msg">Associate post `Honda Repsol MotoGP One Piece Motorbike Racing Leather Suit` with current import ...</div>
<div class="progress-msg"><b>IMAGES:</b></div>
<div class="progress-msg">- Importing image `honda.repsol.1_2.jpg` for `Honda Repsol MotoGP One Piece Motorbike Racing Leather Suit` ...</div>
<div class="progress-msg">- Using existing image `honda.repsol.1_2.jpg` for post `Honda Repsol MotoGP One Piece Motorbike Racing Leather Suit` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `Honda Repsol MotoGP One Piece Motorbike Racing Leather Suit` `Product` (ID: 59)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #5</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `KTM Orange Black Custom made Motorbike Racing Leather Jacket`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `KTM Orange Black Custom made Motorbike Racing Leather Jacket`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `KTM Orange Black Custom made Motorbike Racing Leather JacketSmall`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `KTM Orange Black Custom made Motorbike Racing Leather Jacket`</div>
<div class="progress-msg"><b>CREATING</b> `KTM Orange Black Custom made Motorbike Racing Leather Jacket` `Product`</div>
<div class="progress-msg">Associate post `KTM Orange Black Custom made Motorbike Racing Leather Jacket` with current import ...</div>
<div class="progress-msg"><b>IMAGES:</b></div>
<div class="progress-msg">- Importing image `ktm-raacing-leather-jacket.jpg` for `KTM Orange Black Custom made Motorbike Racing Leather Jacket` ...</div>
<div class="progress-msg">- Using existing image `ktm-raacing-leather-jacket.jpg` for post `KTM Orange Black Custom made Motorbike Racing Leather Jacket` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg">- Attachment has been successfully updated for image `http://ue.velocegear.com/wp-content/uploads/2017/05/ktm-raacing-leather-jacket.jpg`</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `KTM Orange Black Custom made Motorbike Racing Leather Jacket` `Product` (ID: 60)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #6</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `KTM Orange Black Custom made Motorbike Racing Leather Jacket`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `KTM Orange Black Custom made Motorbike Racing Leather Jacket`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `KTM Orange Black Custom made Motorbike Racing Leather JacketMedium`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `KTM Orange Black Custom made Motorbike Racing Leather Jacket`</div>
<div class="progress-msg"><b>CREATING</b> `KTM Orange Black Custom made Motorbike Racing Leather Jacket` `Product`</div>
<div class="progress-msg">Associate post `KTM Orange Black Custom made Motorbike Racing Leather Jacket` with current import ...</div>
<div class="progress-msg"><b>IMAGES:</b></div>
<div class="progress-msg">- Importing image `ktm-raacing-leather-jacket.jpg` for `KTM Orange Black Custom made Motorbike Racing Leather Jacket` ...</div>
<div class="progress-msg">- Using existing image `ktm-raacing-leather-jacket.jpg` for post `KTM Orange Black Custom made Motorbike Racing Leather Jacket` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `KTM Orange Black Custom made Motorbike Racing Leather Jacket` `Product` (ID: 61)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #7</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `KTM Orange Black Custom made Motorbike Racing Leather Jacket`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `KTM Orange Black Custom made Motorbike Racing Leather Jacket`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `KTM Orange Black Custom made Motorbike Racing Leather JacketLarge`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `KTM Orange Black Custom made Motorbike Racing Leather Jacket`</div>
<div class="progress-msg"><b>CREATING</b> `KTM Orange Black Custom made Motorbike Racing Leather Jacket` `Product`</div>
<div class="progress-msg">Associate post `KTM Orange Black Custom made Motorbike Racing Leather Jacket` with current import ...</div>
<div class="progress-msg"><b>IMAGES:</b></div>
<div class="progress-msg">- Importing image `ktm-raacing-leather-jacket.jpg` for `KTM Orange Black Custom made Motorbike Racing Leather Jacket` ...</div>
<div class="progress-msg">- Using existing image `ktm-raacing-leather-jacket.jpg` for post `KTM Orange Black Custom made Motorbike Racing Leather Jacket` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `KTM Orange Black Custom made Motorbike Racing Leather Jacket` `Product` (ID: 63)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #8</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `KTM Orange Black Custom made Motorbike Racing Leather Jacket`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `KTM Orange Black Custom made Motorbike Racing Leather Jacket`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `KTM Orange Black Custom made Motorbike Racing Leather JacketExtra Large`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `KTM Orange Black Custom made Motorbike Racing Leather Jacket`</div>
<div class="progress-msg"><b>CREATING</b> `KTM Orange Black Custom made Motorbike Racing Leather Jacket` `Product`</div>
<div class="progress-msg">Associate post `KTM Orange Black Custom made Motorbike Racing Leather Jacket` with current import ...</div>
<div class="progress-msg"><b>IMAGES:</b></div>
<div class="progress-msg">- Importing image `ktm-raacing-leather-jacket.jpg` for `KTM Orange Black Custom made Motorbike Racing Leather Jacket` ...</div>
<div class="progress-msg">- Using existing image `ktm-raacing-leather-jacket.jpg` for post `KTM Orange Black Custom made Motorbike Racing Leather Jacket` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `KTM Orange Black Custom made Motorbike Racing Leather Jacket` `Product` (ID: 64)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #9</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `KTM Orange Black Custom made Motorbike Racing Leather Jacket`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `KTM Orange Black Custom made Motorbike Racing Leather Jacket`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `KTM Orange Black Custom made Motorbike Racing Leather Jacket2XL`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `KTM Orange Black Custom made Motorbike Racing Leather Jacket`</div>
<div class="progress-msg"><b>CREATING</b> `KTM Orange Black Custom made Motorbike Racing Leather Jacket` `Product`</div>
<div class="progress-msg">Associate post `KTM Orange Black Custom made Motorbike Racing Leather Jacket` with current import ...</div>
<div class="progress-msg"><b>IMAGES:</b></div>
<div class="progress-msg">- Importing image `ktm-raacing-leather-jacket.jpg` for `KTM Orange Black Custom made Motorbike Racing Leather Jacket` ...</div>
<div class="progress-msg">- Using existing image `ktm-raacing-leather-jacket.jpg` for post `KTM Orange Black Custom made Motorbike Racing Leather Jacket` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `KTM Orange Black Custom made Motorbike Racing Leather Jacket` `Product` (ID: 65)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #10</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `KTM Orange Black Custom made Motorbike Racing Leather Jacket`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `KTM Orange Black Custom made Motorbike Racing Leather Jacket`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `KTM Orange Black Custom made Motorbike Racing Leather Jacket3XL`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `KTM Orange Black Custom made Motorbike Racing Leather Jacket`</div>
<div class="progress-msg"><b>CREATING</b> `KTM Orange Black Custom made Motorbike Racing Leather Jacket` `Product`</div>
<div class="progress-msg">Associate post `KTM Orange Black Custom made Motorbike Racing Leather Jacket` with current import ...</div>
<div class="progress-msg"><b>IMAGES:</b></div>
<div class="progress-msg">- Importing image `ktm-raacing-leather-jacket.jpg` for `KTM Orange Black Custom made Motorbike Racing Leather Jacket` ...</div>
<div class="progress-msg">- Using existing image `ktm-raacing-leather-jacket.jpg` for post `KTM Orange Black Custom made Motorbike Racing Leather Jacket` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `KTM Orange Black Custom made Motorbike Racing Leather Jacket` `Product` (ID: 66)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">---</div>
<div class="progress-msg">Record #11</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_before_post_import ...</div>
<div class="progress-msg">Combine all data for post `KTM Orange Black Custom made Motorbike Racing Leather Jacket`...</div>
<div class="progress-msg">Find corresponding article among previously imported for post `KTM Orange Black Custom made Motorbike Racing Leather Jacket`...</div>
<div class="progress-msg">Duplicate post wasn't found with unique key `KTM Orange Black Custom made Motorbike Racing Leather JacketCustom Size`...</div>
<div class="progress-msg">Applying filter `pmxi_article_data` for `KTM Orange Black Custom made Motorbike Racing Leather Jacket`</div>
<div class="progress-msg"><b>CREATING</b> `KTM Orange Black Custom made Motorbike Racing Leather Jacket` `Product`</div>
<div class="progress-msg">Associate post `KTM Orange Black Custom made Motorbike Racing Leather Jacket` with current import ...</div>
<div class="progress-msg"><b>IMAGES:</b></div>
<div class="progress-msg">- Importing image `ktm-raacing-leather-jacket.jpg` for `KTM Orange Black Custom made Motorbike Racing Leather Jacket` ...</div>
<div class="progress-msg">- Using existing image `ktm-raacing-leather-jacket.jpg` for post `KTM Orange Black Custom made Motorbike Racing Leather Jacket` ...</div>
<div class="progress-msg">- <b>ACTION</b>: pmxi_gallery_image</div>
<div class="progress-msg"><b>TAXONOMIES:</b></div>
<div class="progress-msg">- Importing taxonomy `product_cat` ...</div>
<div class="progress-msg">- Importing taxonomy `product_tag` ...</div>
<div class="progress-msg"><b>CREATED</b> `KTM Orange Black Custom made Motorbike Racing Leather Jacket` `Product` (ID: 67)</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_saved_post</div>
<div class="progress-msg"><b>ACTION</b>: pmxi_after_post_import</div>
<div class="progress-msg">Cleaning temporary data...</div>
